*{
	font-family:"Arial", sans-serif;
	overflow-x: hidden;
}
body{
	background-color:#EB9300;
	margin:0px;
	padding:0px;
}
#navbar{
	width:100%;
	height:80px;
	background-color:#EB1B00;
	top:0px;
	left:0px;
	position:fixed;
	display:flex;
}
.navel{
	text-align:center;
	vertical-align:middle;
	background-color:#EB1B00;
	font-family:'Corbel','Century Gothic','Segoe UI','MS Sans Serif','Arial';
	float:top;
	flex-grow:1;
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;
}
@keyframes navelhover{
	0%{
	background-color:#EB1B00;
	flex-grow:1;
}
	100%{
	background-color:#EBBB00;
	flex-grow:2;
	filter:blur(5px);
}
}
.navel:hover{
	animation:navelhover 0.25s forwards;
}

#main_container{
	margin-top:80px;
	width:100vw;
}
.picpage{
	width:100%;
	height:90vh;
	background-color:red;
	padding:5px;
	/*border:solid black 3px;*/
}