*{
	overflow-x: hidden;
}
body{
	background-color:#EB9300;
	margin:0px;
	padding:0px;
}
#navbar{
	width:100vw;
	height:80px;
	background-color:#931311;
	top:0px;
	left:0px;
	position:fixed;
	display:flex;
	flex-direction:row;
}
.navel{
	text-align:center;
	vertical-align:middle;
	background-color:#931311;
	font-family:'LanePosh';
	font-size:17px;
	font-weight:lighter;
	flex-grow:1;
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;
	transition: 0.5s;
}
.navel:hover{
	background-color:red;
	flex-grow:2;
	font-weight:bold;
}
#scrollrem{
	position:fixed;
	height:10vh;
	width:100vw;
	bottom:0px;
	left:0px;
	opacity:0.6;
	z-index:1;
	background-color:#4E4545;
}
#scrollrem-overlay{
	position:fixed;
	vertical-align:middle;
	height:10vh;
	width:100vw;
	bottom:0px;
	left:0px;
	z-index:1;
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;
	font-size:17px;
	letter-spacing:8px;
	text-align:center;
	color:white;
}
#main_container{
	margin-top:80px;
	width:100vw;
	font-family:'LaneNar';
}
#intro{
	height:110vh;
	background-image:url("assets/offering bhajis.jpg");
	background-attachment:fixed;
	background-size:110%;
	background-blend-mode:lighten;
	-webkit-filter:saturate(50%);
	filter:saturate(50%);
	color:white;
	text-align:center;
}
.picpage{
	width:100%;
	height:90vh;
	background-color:#FF2E2E;
	padding:5px;
	border-bottom:solid black 3px;
	overflow:hidden;
}
.picpage .wrap{
	width:60%;
	height:calc(100%+10px);
	padding:0px;
	margin:-5px;
	overflow-y: hidden;
}
.wrap img{
	height:95vh;
	width:auto;
	position:relative;
	top:0px;
	padding:0px;
	margin:0px;
}
.R.wrap img{left:0px;}
.L.wrap img{right:0px;}
.picpage.R *{float:left; margin-left: 10px;}
.picpage.R .wrap{float:right;}
.picpage.L *{float:right; margin-right:35px;}
.picpage.L .wrap{float:left;}
.twitter-follow-button{
	cursor:default;
	-webkit-user-select:none;
	-moz-user-select:none;
}
@font-face{
	font-family:LaneNar;
	src:url(fonts/LANENAR_.ttf);
}
@font-face{
	font-family:LanePosh;
	src:url(fonts/LANEPOSH.ttf);
}
